In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [2]:
df= pd.read_csv("C:/Users/Zehra/Desktop/Python-SQL/titanic.csv")

In [3]:
df.drop(["cabin", "boat", "body", "home.dest"], axis=1, inplace=True)

In [4]:
df.dropna(inplace=True)

In [5]:
sex = pd.get_dummies(df["sex"], drop_first = True)
pclass = pd.get_dummies(df["pclass"], drop_first = True)
embarked = pd.get_dummies(df["embarked"], drop_first = True)

In [6]:
df.drop(["sex", "embarked","pclass"], axis=1, inplace=True)

In [7]:
df=pd.concat([df,sex,embarked,pclass], axis=1)

In [8]:
df.drop(["name","ticket"], axis=1, inplace= True)
df.head(2)

   survived      age  sibsp  parch      fare  male  Q  S  2.0  3.0
0       1.0  29.0000    0.0    0.0  211.3375     0  0  1    0    0
1       1.0   0.9167    1.0    2.0  151.5500     1  0  1    0    0

In [9]:
X = df.drop("survived", axis=1)
y = df["survived"]

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

#Normalizasyon – Feature Scaling
#Bağımsız değişkenlerden yaş ile tahmini gelir aynı 
#birimde olmadığı için feature scaling uygulayacağız.

In [12]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
#Naive Bayes Modeli Oluşturmak ve Eğitmek

GaussianNB()

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [15]:
cm

array([[125,  28],
       [ 32,  76]], dtype=int64)

In [18]:
from sklearn.metrics import accuracy_score 
import sklearn.metrics as mt

In [19]:
print(mt.accuracy_score(y_test, y_pred))

0.7701149425287356