In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.metrics as mt
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix as cm

In [2]:
df_train = pd.read_csv("C:/Users/Zehra/Desktop/Python-SQL/train.csv")
df_test = pd.read_csv("C:/Users/Zehra/Desktop/Python-SQL/test.csv")

In [3]:
df = pd.concat([df_train, df_test], axis = 0)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [5]:
df.Pclass = df.Pclass.astype("category")

In [6]:
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [7]:
df["Age"].fillna(df.groupby("Sex")
                ["Age"].transform("mean"), inplace=True)

In [8]:
df.Cabin =df.Cabin.fillna(0)
df.Fare =df.Fare.fillna(0)
df.Embarked =df.Embarked.fillna(0)

In [9]:
df['Sex'] = df['Sex'].replace('male',1)
df['Sex'] = df['Sex'].replace('female',0)

In [10]:
df.loc[ df['Age'] <= 16, 'Age']= 0
df.loc[(df['Age'] > 16) & (df['Age'] <= 32), 'Age']= 1
df.loc[(df['Age'] > 32) & (df['Age'] <= 48), 'Age']= 2
df.loc[(df['Age'] > 48) & (df['Age'] <= 64), 'Age']= 3
df.loc[ df['Age'] > 64, 'Age']= 4

In [11]:
df.loc[df.Cabin.str[0]=="A", "Cabin"] = 1
df.loc[df.Cabin.str[0]=="B", "Cabin"] = 2
df.loc[df.Cabin.str[0]=="C", "Cabin"] = 3
df.loc[df.Cabin.str[0]=="D", "Cabin"] = 4
df.loc[df.Cabin.str[0]=="E", "Cabin"] = 5
df.loc[df.Cabin.str[0]=="F", "Cabin"] = 6
df.loc[df.Cabin.str[0]=="G", "Cabin"] = 7
df.loc[df.Cabin.str[0]=="T", "Cabin"] = 8

In [12]:
df.loc[df_train.Embarked.str[0]=="S", "Embarked"] = 1
df.loc[df_train.Embarked.str[0]=="Q", "Embarked"] = 2
df.loc[df_train.Embarked.str[0]=="C", "Embarked"] = 3

In [13]:
df_train["Name"]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [14]:
df["Title"] = [i.split(",")[1].split(".")[0].strip() for i in df["Name"]]

In [15]:
df["Title"]

0          Mr
1         Mrs
2        Miss
3         Mrs
4          Mr
        ...
413        Mr
414      Dona
415        Mr
416        Mr
417    Master
Name: Title, Length: 1309, dtype: object

In [16]:
df['Title'] = df['Title'].replace(['Lady','the Countess' ,'Countess','Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

df['Title'] = df['Title'].replace('Mlle', 'Miss')
df['Title'] = df['Title'].replace('Ms', 'Miss')
df['Title'] = df['Title'].replace('Mme', 'Mrs')

In [17]:
le = preprocessing.LabelEncoder()
df['Title'] = le.fit_transform(df['Title'])

In [18]:
df["Title"]

0      2
1      3
2      1
3      3
4      2
      ..
413    2
414    4
415    2
416    2
417    0
Name: Title, Length: 1309, dtype: int32

In [ ]:
#Random Forest Classifier

In [19]:
y =df.Survived[0:891]

In [20]:
df.drop(["PassengerId", "Survived", "Name", "Ticket"],axis=1,inplace=True)

In [21]:
df_train = df[0:891]
df_test= df[891:]

In [22]:
from sklearn.model_selection  import train_test_split
x_train, x_test ,y_train, y_test = train_test_split(df_train ,y , test_size = 0.33 , random_state = 0)

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
R_F = RandomForestClassifier()
R_F.fit(x_train, y_train)

RandomForestClassifier()

In [25]:
y_pred=R_F.predict(x_test)
print("Random Forest R2")
print (confusion_matrix(y_test, y_pred))

Random Forest R2
[[165  19]
 [ 25  86]]

In [28]:
from sklearn.metrics import accuracy_score

In [43]:
print(mt.accuracy_score(y_test, y_pred))

0.8508474576271187

In [44]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions, target_names=['<=50K', '>50K']))

              precision    recall  f1-score   support

       <=50K       0.87      0.90      0.88       184
        >50K       0.82      0.77      0.80       111

    accuracy                           0.85       295
   macro avg       0.84      0.84      0.84       295
weighted avg       0.85      0.85      0.85       295

In [42]:
print(mt.accuracy_score(y_test, y_pred))

0.8508474576271187