In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, Lasso, LassoCV, RidgeCV, ElasticNet, ElasticNetCV
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import mean_squared_error

In [2]:
df= pd.read_csv("C:/Users/Zehra/Desktop/Python-SQL/titanic.csv")

In [3]:
df.drop(["cabin", "boat", "body", "home.dest"], axis=1, inplace=True)

In [4]:
df.dropna(inplace=True)

In [5]:
sex = pd.get_dummies(df["sex"], drop_first = True)
pclass = pd.get_dummies(df["pclass"], drop_first = True)
embarked = pd.get_dummies(df["embarked"], drop_first = True)

In [6]:
df.drop(["sex", "embarked","pclass"], axis=1, inplace=True)

In [7]:
df=pd.concat([df,sex,embarked,pclass], axis=1)

In [8]:
df.drop(["name","ticket"], axis=1, inplace= True)
df.head(2)

   survived      age  sibsp  parch      fare  male  Q  S  2.0  3.0
0       1.0  29.0000    0.0    0.0  211.3375     0  0  1    0    0
1       1.0   0.9167    1.0    2.0  151.5500     1  0  1    0    0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1043 entries, 0 to 1308
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  1043 non-null   float64
 1   age       1043 non-null   float64
 2   sibsp     1043 non-null   float64
 3   parch     1043 non-null   float64
 4   fare      1043 non-null   float64
 5   male      1043 non-null   uint8
 6   Q         1043 non-null   uint8
 7   S         1043 non-null   uint8
 8   2.0       1043 non-null   uint8
 9   3.0       1043 non-null   uint8
dtypes: float64(5), uint8(5)
memory usage: 54.0 KB

In [10]:
df.isnull().sum()

survived    0
age         0
sibsp       0
parch       0
fare        0
male        0
Q           0
S           0
2.0         0
3.0         0
dtype: int64

In [11]:
X = df.drop("survived", axis=1)
y = df["survived"]
X.head()

       age  sibsp  parch      fare  male  Q  S  2.0  3.0
0  29.0000    0.0    0.0  211.3375     0  0  1    0    0
1   0.9167    1.0    2.0  151.5500     1  0  1    0    0
2   2.0000    1.0    2.0  151.5500     0  0  1    0    0
3  30.0000    1.0    2.0  151.5500     1  0  1    0    0
4  25.0000    1.0    2.0  151.5500     0  0  1    0    0

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [13]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#standart scaler verileri, ortalaması 0, standart sapması 1 şeklinde dönüştürülüyor.

In [14]:
#Ridge Regresyon

In [32]:
from sklearn.linear_model import RidgeClassifier

In [33]:
ridge = RidgeClassifier().fit(X_train, y_train)
y_pred = ridge.predict(X_test)

In [34]:
ridge.score(X_train,y_train)

0.7972602739726027

In [35]:
y_pred

array([0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1.,
       0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0.,
       0., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0.,
       0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0.,
       0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 1., 0., 0., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 0.,
       0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1.,
       0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 1., 0.,
       1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 1., 0., 0., 0., 1., 0.])